---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Content from "../components/Content.astro";
import TableOfContent,{ Heading } from "../components/react/TableOfContent";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
	headings: Heading[]
}


const {
	content: { title, description, pubDate, updatedDate, heroImage },
	headings,
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
  				border-top: 1px solid #DDD;
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main >
			<Content class='flex justify-center' >
				<div class="flex-1"></div>
				<article >
					{heroImage && (
						<img
							width={720}
							height={360}
							src={heroImage}
							alt=""
						/>
					)}
					<div class="flex items-center">
						<h1 class="title">{title}</h1>
					</div>
					{pubDate && <time>{pubDate}</time>}
					{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
					<hr/>
					<slot />
				</article>

				<div class="flex-1">
					<TableOfContent headings={headings} />
				</div>
	
			</Content>
		</main>
		<Footer />
	</body>
</html>

<style>
	
article {
	max-width: 768px;
}
</style>